body{

}

/*MENU*/

#menu{
  background-image: url(f.png);
  text-align: center;
  padding: 10px;
}

#menu img{
  border: 1px solid white;
  height: 40px;
}

/*CORP*/

#corp{
  border: 0.5px solid black;
  background-image: url(corp.jpg);
  background-size: cover;
  text-align: center;
}

#corp p{
  text-align: center;
  font-weight: bold;
}

#corp h2{
  text-align: center;
  color:white;
}

#corp h3{
  text-align: center;
  font-weight: bold;
  color: red;
}

#corp img{
  margin-top: 20px;
}
/*CONTENU*/

#contenu{
  height: auto;
  vertical-align: middle;
  text-align: center;
}

#contenu img{
  max-width: 80px;
  width: 50%;
}

#contenu h3{
  font-weight: bold;
  font-size: 13px;
}

#contenu p{
  width: auto;
  font-weight: bold;
  text-align: center;
  color: grey;
}

#contenu .exp ul li{
  width: 100%;
  margin: 15px;
  padding: 5px;
  border: 2px solid black;
  display: inline-block;
  text-align: center;
  width: 180px;
  border-radius: 10px;
}

#contenu .exp p{
  text-align: center;
  display: inline-block;
}

.inter h3{
  text-align: center;
}

.container{
  margin-top: 65px;
}

.inter{
  margin-top: 360px;
  font-size: 16px;
  text-align: center;
  background-color: #F5F5F5;
}

.inter img{
  min-width: 40%;
  max-width: 100%;
}

.bouton{
  float: right;
}

.bouton img{
  margin-right: 45px;
  margin-top: 20px;
  width: 90px;
}

.image h3{
  text-align: center;

}

#photo div{
  text-align: center;
}

.bar{
  width: auto;
  text-align: center;
}

.col-xs-12.col-lg-3{
  text-align: center;
}

.col-xs-12.col-lg-3 img{
  width: 100%;
}

.col-xs-4.col-lg-4{
  background-color: black;
  font-size: 13px;
  color: white;
  text-align: center;

}

.col-xs-4.col-lg-4 img{

  width: 50px%;
  margin: 2px;
  padding: 3px;
  margin-top: ;
}

.titre h3{
  text-align: center;
}

.row{
  width: auto;
  padding: 15px;
}
#fin{

  border-radius: 15px;
  padding: ;
  color: white;
  background-color: #000005;
}

.col-xs-3.col-lg-3{
  text-align: center;
}

#lien{
  border-radius: 15px;
  margin-bottom: 0px;
  padding: -10px;
  text-align: center;
  background-color: #696969;
}

#lien img:hover{
border: 3px solid red;
box-shadow: 0 0 25px blue;
}

@media all and (min-width: 0px) and (max-width: 350px){
  #corp .img img{
    display: none;
  }
}
